/* ==========================================================================
   Separator
   ========================================================================== */

.u-separate {
    margin-right: .75rem;
    margin-left: .55rem;
    color: $c-base__01;
    &:after {
        content: ' |';
    }
}
